.footer {
    &__inner {
        .footer__copyright {
            display: flex;
            justify-content: flex-start;
            &__text {
                margin: 95px 0px 112px -13px;
                text-align: center;
                font-size: 18px;
                color: #666666;
                font-weight: bold;
                font-family: "Montserrat";
            }
        }

        .footer__subscribe {
            padding: 0;
            &__title {
                margin: 59px 0 13px 19.83%;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
                font-weight: 400;
                font-family: "Varela Round";
            }

            &__form {
                display: flex;
                margin: 0px 0px 0px 19.32%;

                &__input {
                    max-width: 312px;
                    padding: 23px 17px;

                    &:focus{
                        border-color: #f06464;
                        box-shadow: 0 0 0 0.2rem rgba(240,100,100,.25);;
                    }

                    &::placeholder {
                        font-size: 16px;
                        line-height: 24px;
                        color: #666666;
                        font-weight: 400;
                        font-family: "Varela Round";
                    }
                }

                &__btn {
                    margin-left: 10px;
                    width: 102px;
                    height: 49px;
                    background: #f06464;
                    color: #fff;
                    border: none;
                    font-size: 16px;
                    line-height: 24px;
                    color: #f4f4f4;
                    font-weight: 400;
                    font-family: "Varela Round";
                }
            }
        }
    }
}

@media(max-width:768px){
    .footer {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer__copyright{
                order: 1;
                &__text {
                    height: auto;
                    width: auto;
                    margin: 0 auto 40px;
                }
            }
            .footer__subscribe{
                order: 0;
                height: auto;
                width: auto;
                margin: 60px auto;
                &__title{
                    margin: 0;
                }
                &__form{
                    margin-left: 0;
                }
            }
        }
    }
}


@media(max-width:380px){
    .footer {
        &__inner {
            .footer__subscribe{
                padding: 0 15px;
                margin: 20px auto 20px;
                &__title{
                    margin-bottom: 10px;
                }
            }
            .footer__copyright{
                &__text {
                    font-size: 14px;
                    margin: 0 auto 20px;
                }
            }
        }
    }
}